* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #222;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

nav {
    margin: 2rem;
}

header > nav > a {
    float: right;
    border: 2px solid white;
    padding: 0.8rem;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    color: #fff;
}

header > nav > a:hover {
    border-color: #eece1a;
    transition: all 0.6s ease-out;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(60, 60, 60, 0.8);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    justify-content: center;
    outline: none;
}

#cities {
    margin: 0.5rem;
    border-radius: 30px;
    width: 100%;
    max-width: 200px;
    padding: .5em;
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
    position: relative;
}

.flex > .icon {
    position: absolute;
    right: 0;
}

.last-update {
    position: absolute;
    right: 0;
}

/* Login Page */
.form-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    width: 360px;
    min-height: 100px;
    background: rgba(60, 60, 60, 0.8);
    padding: 32px 24px;
    text-align: center;
    border-radius: 30px;
    margin: 24px;
    align-self: center;
}

.form .heading {
    font-size: 2rem;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label, .form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.4rem;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 2px solid #b3b3b3;
    border-radius: 30px;
    outline: none;
    font-size: 0.9rem;
}

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 0.7rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
    background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    font-size: 0.9rem;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

/* User Page */
.save {
    margin-top: 30px;
}

.flex-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.message {
    color: #f33a58;
    margin-top: 10px;
    text-align: center;
}

